{%include "home_page.html"%}<hr>

 <table align='center' border='1'><tr><th style='color:red'>Account No</th><th style='color:red'>Customer name</th><th style='color:red'>Date Of Open</th><th style='color:red'>Mail Id</th><th style='color:red'>Mobile Number</th><th style='color:red'>Address</th><th style='color:red'>Balance</th>
 <tr>
 <td>{{form.account_number}}</td>
 <td>{{form.customer_name}}</td>
 <td>{{form.date_of_open}}</td>
 <td>{{form.mail_id}}</td>
 <td>{{form.mobile_number}}</td>
 <td>{{form.address}}</td>
 <td>{{form.balance}}</td>
 </tr>
 </table>