<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home</title>
</head>
<body>
	<header class="tm-head">
		<div class="tm-container" >
			<nav class="tm-nav">
				<ul>
					<li><a href="/home">Home</a></li>
					<li><a href="/customer_details/">Customer Info</a></li>
					<li><a href="/transaction/">Credit/Debit</a></li>
					<li><a href="/st_dev/">All Transactions</a></li>
					<li><a href="/individual_customer/">Individual Transaction</a></li>
					<li><a href="/average/">All Transaction Average</a></li>
				</ul>
			</nav>
		</div>
	</header>
</body>
</html>